.idea/misc.xml
.idea/modules.xml
.idea/pyPerformanceTimer.iml
.idea/workspace.xml
.idea/vcs.xml
build/*
py_performance_timer.egg-info/*
pref_timer/__pycache__/*
.pypirc
MANIFEST
.idea/inspectionProfiles/